.profil-container {
    max-width: 600px;
    margin: 40px 0 0 300px;
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.614);
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.614);
    color: #F26622;
  }
  
  .profile-image {
    margin-left: 80px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
    padding: 40px;
  }
  
  .profile-image input[type="file"] {
    display: none;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #193A69;
    font-size: 1em;
  }
  
  .form-group input {
    width: calc(100% - 10px);
    padding: 8px;
    font-size: 14px;
    border: 1px solid #193a6946;
    border-radius: 4px;
  }
  
  .btn-save {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #f267229a;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .btn-save:hover {
    background-color: #F26622;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  