.menu {
  width: 260px; /* Adjust width as needed */
  background-color: #ffffff; 
  color: #193A69; 
  height: 100%;
  position: fixed;
  top: 0; 
  left: 0;
  z-index: 1000; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.042); 
  overflow-y: auto; /* Add scroll if content overflows */
}

.navbar-logo{
  margin: 20px; /* Adjust margin as needed */
}

.menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu li {
  transition: background-color 0.3s ease, color 0.3s ease;
  display: flex;
  align-items: center; 
  min-height: 50px; /* Set minimum height for each item */
}

.menu li a {
  display: flex;
  align-items: center; 
  padding: 15px 20px; 
  text-decoration: none;
  color: #193A69;
}

.menu li:hover {
  background-color: #f2672245; 
}

.menu li a i {
  margin-right: 15px;
}

.menu li:first-child {
  border-top: 4px solid #193A69;
}

.menu li:last-child {
  border-bottom: none; 
}


.menu li.active a {
  color: #F26622; 
}
