.menu {
  width: 220px; /* Adjust width as needed */
  background-color: #ffffff; 
  color: #050b55; /* White text */
  height: 100%;
  position: fixed;
  top: 0; 
  left: 0;
  z-index: 1000; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
}

.menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu li {
  border-bottom: 1px solid #34495e; /* Darker border */
  transition: background-color 0.3s ease;
}

.menu li:hover {
  background-color: #34495e; /* Darker background on hover */
}

.menu li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #150303;
}

.menu li a i {
  margin-right: 10px;
}

.menu li:first-child {
  border-top: 1px solid #34495e; /* Darker top border for first item */
}

.menu li:last-child {
  border-bottom: none; /* Remove bottom border for last item */
}
