.admin-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-top: -40px;
  padding: 40px;
  min-height: 100vh; 
  overflow: auto;
}

.form-cardSA {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.143);
  width: 100%; 
  margin: 20px auto; 
  overflow: hidden;
}

.form-titleSA {
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
  color: #193A69;
}

.admin-form {
  display: flex;
  flex-direction: column;
  gap: 10px; 
  padding-bottom: 5px;
}

.grid-container {
  display: flex;
  flex-wrap: wrap; 
  gap: 20px; 
  margin-top: 10px;
}

.form-groupSA {
  flex: 1 1 45%; 
  min-width: 250px;
}

.form-groupSA label {
  display: block;
  margin-bottom: 5px;
  color: black;
}

.form-groupSA input,
.form-groupSA select {
  width: 100%;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.128);
  border-radius: 4px;
}

.button-containerSA {
  text-align: center;
  margin-top: 20px; 
}

.button-containerSA button {
  background-color: #f267229f;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.button-containerSA button:hover {
  background-color: #F26622;
}

.table-card {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.143);
  width: 100%; 
  margin: 20px auto; 
  overflow: hidden;
}

.table-container {
  max-height: 260px; 
  overflow-y: auto; 
  border-collapse: collapse;
  margin-top: 20px;
}

.table-title {
  font-size: 1.5em;
  color: #193A69;
  margin-bottom: 10px;
  font-weight: bold;
}

.admin-table {
  color: rgba(0, 0, 0, 0.589);
  width: 100%;
  border-collapse: collapse;
  margin: 0; 
}

.admin-table th, .admin-table td {
  border: 1px solid #ddd; 
  padding: 10px;
  text-align: left;
}

.admin-table th {
  background-color: #fff; 
  color: rgba(0, 0, 0, 0.742); 
}

.admin-table tbody tr:nth-child(even) {
  background-color: #fff; 
}

.admin-table tbody tr:nth-child(odd) {
  background-color: white; 
}

.delete-buttonSA {
  color: #193A69;
  padding: 10px;
  margin-top: 10px;
  border: none;
  background-color: white;
  cursor: pointer;
  border-radius: 4px;
}

.delete-buttonSA:hover {
  background-color: #f26722dd; 
}

.edit-buttonSA {
  color: #193A69;
  padding: 10px;
  margin-top: 10px;
  border: none;
  background-color: #fff;
  cursor: pointer;
  border-radius: 4px;
}

.edit-buttonSA:hover {
  background-color: #f26722dd; 
}
