

.edit-profile {
    max-width: 700px;
    margin: 0 auto;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .edit-profile h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #193A69;
    font-size: 24px;
    font-weight: bold;
  }
  
  .form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .form-group {
    flex: 1;
    margin-right: 10px;
  }
  
  .form-group:last-child {
    margin-right: 0;
  }
  
  .form-group.full-width {
    flex: 100%;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    color: #193A69;
  }
  
  .form-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
  }
  
  .submit-button {
    background-color: #F26622;
    border: none;
    color: white;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    display: block;
    margin: 20px auto;
    transition: background-color 0.3s ease;
  }
  
  .submit-button:hover {
    background-color: #d44d1b;
  }
  