
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    font-family: Arial, sans-serif;
  }
  
  .logins-pages {
    background: url('../../../public/favicon.png') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .crd {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 300px;
    text-align: center;
  }
  
  .formes-toggles {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .formes-toggles button {
    flex: 1;
    padding: 10px;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 16px;
  }
  
  .formes-toggle .active {
    font-weight: bold;
    border-bottom: 2px solid #333;
  }
  
  .formes-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .formes {
    display: flex;
    flex-direction: column;
  }
  
  .formes h2 {
    margin-bottom: 20px;
  }
  
  .formes input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .formes button {
    padding: 10px;
    border: none;
    background-color: #333;
    color: white;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .formes button:hover {
    background-color: #555;
  }
  