.navbar {
  top: 0;
  left: 220px; /* Adjust to the width of the menu */
  z-index: 900; /* Ensure navbar is below the menu */
  background-color: #ecf3fd;
  color: #000000;
  width: auto; /* Full width minus the menu width */
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
}

.navbar-logo img {
  max-width: 150px; /* Adjust width as needed */
  height: auto; /* Maintains aspect ratio */
  vertical-align: middle;
}

.navbar-logo {
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  margin-right: 20px; /* Increased margin to create more space between logo and search */
}

.navbar-search {
  display: flex;
  align-items: center;
  flex: 1; /* Allow search to take available space */
  margin-left: 150px; /* Add some space between logo and search bar */
}

.search-input {
  padding: 10px;
  border: none;
  border-radius: 20px; /* Rounded shape */
  font-size: 16px;
  outline: none;
  width: 100%; /* Take full width */
  max-width: 400px; /* But no more than 300px */
}

.search-button {
  background-color: #555;
  border: none;
  color: #060606;
  padding: 10px;
  border-radius: 50%; /* Round shape for button */
  cursor: pointer;
  margin-left: 10px;
}

.search-button i {
  font-size: 16px;
}

.search-button:hover {
  background-color: #666;
}

.navbar-items {
  display: flex;
  align-items: center;
  margin-left: auto; /* Pushes items to the right */
}

.navbar-button {
  background: none;
  border: none;
  color: #050505;
  font-size: 24px;
  cursor: pointer;
  margin-right: 20px;
}

.navbar-button:hover {
  color: #fcecec;
}

.navbar-greeting {
  margin-right: 20px;
  font-size: 18px;
}
