/* ProfilePopup.css */
.profile-popup {
  position: absolute;
  top: 100px;
  right: 90px; /* Adjust position as needed */
  width: 350px;
  background-color: #ecf3fddf;
  border: 1px solid ecf3fddf;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.262);
  padding: 20px;
  z-index: 1000;
}

.profile-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 200px;
}

.profile-image {
  width: 80px;
  height: 80px;
  padding: 40px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.profile-header h3 {
  margin: 10px 0 5px 0;
  font-size: 1.2em;
  color: #193A69;
  font: bold;
}

.profile-email {
  color: #193A69;
  font-size: 0.9rem;
}

.profile-details {
  margin-bottom: 20px;
}

.profile-details p {
  margin: 10px 0;
  color: black;
  font-size: 0.9rem;
}

.profile-details i {
  margin-right: 10px;
}

.profile-actions {
  display: flex;
  justify-content: space-between;
}

.profile-action-button {
  background-color: white;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
}

.profile-action-button i {
  margin-right: 5px;
}

.settings-button:hover {
  background-color: #F26622;
}

.logout-button {
  background-color: #f26722bf;
}

.logout-button:hover {
  background-color: #F26622;
}
