.dashboard-client-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f0f4fa; /* Adjust background color if needed */
  padding: 20px;
}

.dashboard-client-card {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 270px;
  margin: 10px;
}

.dashboard-client-icon {
  background-color: #ff6f00;
  color: white;
  border-radius: 50%;
  padding: 10px;
  font-size: 2rem;
  margin-right: 15px;
}

.dashboard-client-info {
  text-align: left;
}

.dashboard-client-info h3 {
  margin: 0;
  font-size: 1.5rem;
  color: #2c3e50;
}

.dashboard-client-info p {
  margin: 5px 0 0 0;
  color: #7f8c8d;
}

.dashboard-client-percentage {
  color: green;
  font-size: 1rem;
}
