
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto; /* Enable scrolling */
  }
  

  .livreur-page {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 40px;
    min-height: 100vh; 
    overflow: auto;
  }
  
  .title {
    font-size: 1.5em;
    color: #193A69;
    margin-bottom: 1px;
    font-weight: bold;
  }
  
  .cards {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.143);
    width: 100%; /* Adjust to fit within the container */
    margin: 20px auto; /* Center the card horizontally */
    overflow: hidden; /* Hide overflow content */
  }
  
  .livreur-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 20px; /* Add padding to the bottom */
  }
  
  .form-row {
    display: flex;
    gap: 20px;
  }
  
  .form-group {
    flex: 1;
    min-width: 0; /* Allow flex items to shrink */
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    color: black;
  }
  
  .form-group input {
    width: 95%; /* Make input take the full width of the flex item */
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.128);
    border-radius: 4px;
  }
  
  /* Adjust spacing between inputs in the form */
  .form-group:not(:last-child) {
    margin-bottom: 10px; /* Space between inputs */
    margin-right: 10px; /* Space between inputs */
  }
  
 
  .form-group.governorat {
    flex: 1;
  }
  

  .form-group.adresse {
    flex: 3; 
  }
  
  .add-button {
    background-color: #f26722c8;
    color: white;
    padding: 40px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    align-self: center; /* Center the button */
    margin-top: 10px;
  }
  
  .add-button:hover {
    background-color: #F26622;
  }
  
  .livreurs-table-container {
    overflow: auto; /* Enable scrolling */
    max-height: 260px; /* Limit height before scrolling */
  }
  
  .livreurs-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .livreurs-table th, .livreurs-table td {
    border: 1px solid white;
    padding: 10px;
    text-align: left;
  }
  
  .livreurs-table th {
    background-color: white;
    color: black;
  }
  
  .livreurs-table tbody tr:nth-last-child() {
    background-color: white;
    color: rgba(0, 0, 0, 0.506);
  }
  
  .icon-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 5px;
    margin: 0 5px;
  }
  
  .icon-button:hover {
    background-color: #f26722cb;
    border-radius: 50%;
  }
  