.livreur-list-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.right-content {
  display: flex;
  gap: 20px;
}

.title-text {
  margin-left: 4px;
  font-size: 14px; 
  margin-right: 15px;
}


.small-button {
  position: relative;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
  width: 200px; 
  cursor: pointer;
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: flex-start; /* Align items to the start */
}



.small-button:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.icon-circle {
  background-color: #007bff;
  color: #ffffff;
  border-radius: 50%;
  width: 10px; /* Adjust the width and height as needed */
  height: 10px; /* Adjust the width and height as needed */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
}

.card-title {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 14px;
  color: #333333;
  padding: 0px 8px;
  cursor: pointer;
}

.title-text {
  margin-left: 2px;
}

.gouvernement-dropdown {
  position: absolute;
  top: calc(100% + 4px);
  left: 0;
  width: 100%;
  background-color: #ffffff;
  border: 1px solid #007bff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

.dropdown-item {

  font-size: 14px;
  color: #333333;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dropdown-item:hover {
  background-color: #f0f0f0;
}

.selected {
  background-color: #f0f0f0; /* Selected item background color */
}

.date-card {
  position: relative;
  display: flex;
  flex-direction: column;
}

.icon-title {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 14px;
  color: #333333;
  padding: 0px 8px;
  cursor: pointer;
}

.date-input {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.selected-gouvernement {
  padding: 8px;
  font-size: 14px;
  color: #333333;
  text-align: left;
  margin-top: 50px  ;
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide overflow text */
  text-overflow: ellipsis; /* Show ellipsis for overflow text */
}