.livreur-list-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.right-content {
  display: flex;
  gap: 20px;
}

.small-button {
  background-color: #ffffff;
  padding: 8px; /* Adjusted padding */
 /*  border: 1px solid #007bff; Blue border */
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
  width: 180px; /* Increased width */
  cursor: pointer; /* Pointer cursor on hover */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Arrange children vertically */
}

.small-button:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.icon-circle {
  background-color: #007bff; /* Blue background for icon circle */
  color: #ffffff; /* White icon color */
  border-radius: 50%;
  width: 30px; /* Reduced size */
  height: 30px; /* Reduced size */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4px; /* Adjusted spacing between icon and title */
}

.card-title {
  display: flex;
  align-items: center; /* Center align items horizontally */
  font-weight: bold;
  font-size: 14px; /* Increased font size */
  color: #333333;
  padding: 0px 0; /* Reduced padding */
}

.title-text {
  margin-left: 4px; /* Adjusted margin between icon and text */
}

.clickable {
  background: none;
  border: none;
  color: #007bff; /* Blue color for chevron icon */
  font-size: 12px; /* Adjusted font size */
  margin-top: 4px; /* Adjusted margin */
}

.gouvernement-dropdown {
  position: absolute;
  top: calc(100% + 4px);
  left: 0;
  width: 100%;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.dropdown-item {
  padding: 8px;
  font-size: 12px; /* Adjusted font size */
  color: #333333;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dropdown-item:hover {
  background-color: #f2f2f2;
}

.selected-info {
  padding: 2px;
  background-color: #f2f2f2;
  border-radius: 8px;
  font-size: 12px; /* Adjusted font size */
  color: #333333;
  margin-top: 4px; /* Adjusted margin */
  display: flex;
  align-items: center;
}

.selected-info i {
  margin-right: 4px;
}

.date-info {
  font-size: 12px; /* Adjusted font size */
  color: #333333;
  margin-top: 4px; /* Adjusted margin */
}
