.payment-container {
  max-width: 700px;
  margin: 100px auto;
  padding: 30px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.payment-title {
  margin-bottom: 60px;
  text-align: center;
  color: #193A69;
  font-size: 26px;
  font-weight: bold;
}

.payment-options {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.payment-option {
  width: 45%;
  padding: 15px;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative; 
}

.payment-description1 {
  text-align: center;
  font-size: 14px;
  color: #f26722c7;
  margin-bottom: 10px;
}

.payment-description2 {
  text-align: center;
  font-size: 14px;
  color: #193A69;
  margin-bottom: 10px; 
}

.cash-option {
  background-color: #193A69;
  color: white;
}

.cash-option:hover {
  background-color: #193A69;
}

.card-option {
  background-color: #f26722c7;
  color: white;
}

.card-option:hover {
  background-color: #F26622;
}

.fas {
  font-size: 24px;
  margin-bottom: 10px; 
}

.arrow-icon {
  font-size: 18px;
  margin-left: 10px; 
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%); 
}

.payment-footer {
  margin-top: 30px;
  font-size: 14px;
  color: #193A69;
  text-align: center;
  padding: 10px;
}
